---
layout: page
title: "Home"
description: ""
---
{% include JB/setup %}
   
<section class='section alt' id='promo'>
  <div class='container'>
    <div class='carousel slide' id='myCarousel'>
      <!-- Carousel items -->
      <div class='carousel-inner'>
        {% for post in site.posts limit:3 %}
        {% if forloop.index0 == 0 %}
        <div class='active item'>
        {% else %}
        <div class='item'>
        {% endif %}
          <div class='row-fluid'>
            <div class='hero-unit pull-center'>
              <h1>{{ post.title }}</h1>
              <p>{{ post.description }} <a href="{{ BASE_PATH }}{{ post.url }}">read more <i class="icon-chevron-right"></i></a></p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- Carousel nav -->
      <a class='carousel-control left' data-slide='prev' href='#myCarousel'>&lsaquo;</a>
      <a class='carousel-control right' data-slide='next' href='#myCarousel'>&rsaquo;</a>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    {% include JB/ads %}
    <div class="page-header">
      <h1>
        My projects
      </h1>
    </div>
    <div class="row-fluid">
      <ul class="thumbnails">
        <li class="span6">
          <div class="row-fluid">
            <div class="span4 pull-center">
              <i class="icon-eye-open enormous-icon circled pull-center"></i>
            </div>
            <div class="span8">
              <h3><a href="http://snitches.co">Snitches</a></h3>
              <p>
                A web app that lets you view and report crimes in your neighborhood to make it safer.
              </p>
            </div>
          </div>
          <hr>
		  <div class="row-fluid">
			<div class="span4 pull-center">
			  <i class="icon-money enormous-icon circled pull-center"></i>
			</div>
			<div class="span8">
			  <h3><a href="http://9dollarswebsite.com">9DollarsWebsite</a></h3>
			  <p>
				Get a professionnal business website for just $9/month.
			  </p>
			</div>
		  </div>
		  <hr>
        </li>
        <li class="span6">
          <div class="row-fluid">
            <div class="span4 pull-center">
              <i class="icon-bolt enormous-icon circled pull-center"></i>
            </div>
            <div class="span8">
              <h3><a href="http://git.rocks">Git Rocks</a></h3>
              <p style="height:72px;">
                A website to help you learn Git or improve your skills with a series of easy online interactive tutorials.
              </p>
            </div>
          </div>
          <hr>
          <div class="row-fluid">
            <div class="span4 pull-center">
              <i class="icon-cloud enormous-icon circled pull-center"></i>
            </div>
            <div class="span8">
              <h3><a href="/InstagramEngineeringChallenge">Instagram Engineering Challenge</a></h3>
              <p>
                This is my solution to the Instagram Engineering Challenge. It is using HTML5 Canvas and Javascript.
              </p>
            </div>
          </div>
          <hr>
        </li>
      </ul>
    </div>
  </div>
</section>
